<main class="main">
  <div class="content">
    <div class="category-form-container">
      <h2>{{ category.id ? 'Editar Categoria' : 'Criar Nova Categoria' }}</h2>

      <form (ngSubmit)="onSubmit()" class="form">
        <label for="name">Nome:</label>
        <input type="text" [(ngModel)]="category.name" name="name" required
          class="input" />
        <div class="form-actions">
          <button type="submit" class="btn submit">{{ category.id ? 'Atualizar' : 'Adicionar' }} Categoria</button>
          <button [routerLink]="['/categories']" class="btn btn-default">Voltar para
            todas as categorias</button>
        </div>
      </form>

    </div>

  </div>
</main>
